@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

:root {
  --color-soft-orange: hsl(35, 77%, 62%);
  --color-soft-red: hsl(5, 85%, 63%);

  /* ### Neutral */
  --color-off-white: hsl(36, 100%, 99%);
  --color-grayish-blue: hsl(233, 8%, 79%);
  --color-dark-grayish-blue: hsl(236, 13%, 42%);
  --color-very-dark-blue: hsl(240, 100%, 5%);

  --def-font: "Inter", sans-serif;
}

html {
  font-size: 10px;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 3rem 8rem;
  font-family: var(--def-font);
}

main {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 2rem;
}

@media (max-width: 960px) {
  body {
    padding: 2rem;
  }
  main {
    justify-content: center;
  }
}
